<template xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div id="right_panel">
    <tabs>
      <tab :title="'info_tab' | locale" state="game-info" classes="tab-info" content-classes="tab-info-content" active="true" :has-notification="has_notification">
        <router-view></router-view>
      </tab>
      <tab :title="'chat_tab' | locale" state="game-chat" classes="tab-chat" content-classes="tab-chat-content">
        <router-view></router-view>
      </tab>
      <tab :title="'news_tab' | locale" state="game-news" classes="tab-news" content-classes="tab-news-content">
        <router-view></router-view>
      </tab>
      <tab :title="'cities_tab' | locale" state="game-cities" classes="tab-cities" content-classes="tab-cities-content">
        <router-view></router-view>
      </tab>
    </tabs>
  </div>
</template>

<script src="./RightPanel.js"></script>
