<template>
  <div class="city-logs">

    <table class="margin-top">
      <tr>
        <th>{{'user' | locale}}</th>
        <th>{{'action' | locale}}</th>
        <th>{{'coordinates' | locale}}</th>
        <th>{{'date' | locale}}</th>
      </tr>
      <tr v-for="log in city_logs">
        <td>{{log.User.Name}}</td>
        <td>{{log.ActionType}}</td>
        <td>{{log.X}},{{log.Y}}</td>
        <td>{{log.CreatedAt | beautyDate}}</td>
      </tr>
    </table>
  </div>
</template>

<script src="./CityLogs.js">
</script>
