<template>
  <div id="app">
    <modal ref="modal"></modal>
    <modal ref="sub_modal"></modal>

    <notifications :duration="7000" position="bottom left"></notifications>

    <router-view></router-view>
  </div>
</template>

<script src="./App.js"></script>

<style lang="scss">
  @import "assets/general";

  #app {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    #game {
      flex-grow: 1;
    }
  }
</style>
