<template>
  <div class="city-page">
    <ribbon></ribbon>

    <div class="padding">
      <div v-if="!current_user || !current_user.CityID">
        <h1>{{'join_or_create_city' | locale}}</h1>
      </div>

      <div class="margin-top" v-if="current_user && current_user.CityID">
        <div class="form-group">
          <label>{{'name' | locale}}:</label>

          <edit-field v-model="city.Name" :state="Name_state" :readonly="!Name_state.edit"></edit-field>

          <button v-if="can_edit" class="btn-icon" @click="toggleEdit('Name')"><i
            :class="{'fa': true, 'fa-pencil': !Name_state.edit, 'fa-undo': Name_state.edit}"></i></button>

          <button v-if="can_edit" class="btn-icon" @click="saveField('Name')"><i class="fa fa-floppy-o"></i></button>
        </div>

        <div class="form-group">
          <label>{{'pixels_on_area' | locale}}:</label>
          {{city.PixelsCount}}
        </div>

        <div class="form-group">
          <label>{{'pixels_manual' | locale}}:</label>
          {{city.ManualPixelsCount}}
        </div>

        <div class="margin-top">
          <a href @click.prevent="leaveCity()">{{'leave_city' | locale}}</a>
        </div>

        <div class="form-group margin-top">

          <tabs>
            <tab :title="'users' | locale" active="true" state="city-users">
              <router-view></router-view>
            </tab>
            <tab :title="'logs' | locale" state="city-logs">
              <router-view></router-view>
            </tab>
          </tabs>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./CityPage.js">
</script>
