<template>
  <div id="chat">
    <tabs v-if="chats && chats.length" v-on:select="selectChat($event)">
      <tab v-for="chat in chats" :key="chat.ID" :id="chat.ID" :title="chat.Name" :active="active_chat && chat.ID == active_chat.ID">
        <div class="messages-list" v-if="chat.Messages && chat.Messages.length">
          <div v-for="message in chat.Messages" class="message-item">
            <div class="message-author">{{message.User.Name}}</div>
            <div class="message-text">{{message.Text}}</div>
          </div>
        </div>

        <div class="messages-list" v-if="!chat.Messages || !chat.Messages.length">
          {{'no_messages' | locale}}
        </div>

        <div class="new-message-container">
          <!--TODO: implement contenteditable: https://github.com/vuejs/vue/issues/1936 -->
          <textarea
            v-model="new_message"
            :placeholder="'type_message' | locale"
            class="textarea new-message-text">
          </textarea>
          <button class="btn-success" @click="sendNewMessage()">{{'send' | locale}}</button>
        </div>
      </tab>
    </tabs>
  </div>
</template>

<script src="./Chat.js"></script>

<style scoped lang="scss">

</style>
