<template xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div class="info">
    <div v-if="current_user_loaded">
      <div v-if="current_user">
        <div class="margin-top margin-bottom">
          {{'welcome_info' | locale}}, {{current_user.Name}}!<br>
          {{'level' | locale}}: {{current_user.level_progress.Value}}<br>
          {{'experience' | locale}}:
          <div class="bar-container pixels-bar-container">
            <div class="pixels-bar" :style="{'width':((current_user.experience_progress.Value/current_user.experience_progress.MaxValue) * 100) + '%'}">
            </div>
            <div class="caption">
              {{current_user.experience_progress.Value}}/{{current_user.experience_progress.MaxValue}}
            </div>
          </div>
        </div>

        <div v-if="!current_user.CityID" class="margin-top margin-bottom notification-target">
          <div v-if="!hide_create_or_join_city">
            {{'you_can' | locale}} <a href v-on:click.stop.prevent="createCity()">{{'you_can_create_city' | locale}}</a> {{'or' | locale}} <router-link to="/game/cities">{{'you_can_join_city' | locale}}</router-link>!
          </div>
          <div v-if="hide_create_or_join_city">
            {{'wait_city_created' | locale}}
          </div>
        </div>

        <div v-if="current_user.ClanID" class="margin-top margin-bottom">
          {{'your_clan' | locale}}: {{current_user.Clan.Name}}.
        </div>
        <div v-if="current_user.CityID" class="margin-top margin-bottom">
          {{'your_city' | locale}}: {{current_user.City.Name}}.
          <div v-if="!current_user.City.IsCreated" class="notification-target">
            {{'wait_city_created' | locale}}
          </div>

          <div class="margin-top">{{'invite_friends' | locale}}:</div>
          <div class="info-block">{{user_ref_link}}</div>
        </div>
      </div>
      <div v-if="!current_user" class="notification-target">
        {{'auth_pixels_warning' | locale}}<br/>
        <a href v-on:click.stop.prevent="vkAuth()">{{'auth_vkontakte' | locale}}</a>
      </div>
    </div>
    <h2>{{'players_online' | locale}}:</h2>
    <ul>
      <li v-for="user in users">{{user.Name}}</li>
    </ul>
  </div>
</template>

<script src="./RightPanelInfo.js"></script>

<style scoped lang="scss">

</style>
