<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
<div class="groups">
  <ul>
    <li>
      <div class="header">{{'skills' | locale}}</div>
      <div class="body">
        <div class="group">

        </div>
      </div>
    </li>

    <li>
      <div class="header">{{'statistics' | locale}}</div>
      <div class="body">
        <div class="group">

        </div>
      </div>
    </li>

    <li>
      <div class="header">{{'actions' | locale}}</div>
      <div class="body">
        <div class="group">

        </div>
      </div>
    </li>
  </ul>
</div>
</template>

<script src="./PlayerTab.js"></script>
