<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <modal-item>
    <template slot="header">
      <button class="close" @click="cancel">×</button>
      <h4>
        <div class="modal-title">City create</div>
      </h4>
    </template>

    <div class="modal-body" slot="body">
      <div class="form-group" v-if="!city.Clan || !city.Clan.ID">
        <h3>You must create a clan first</h3>
        <label>Clan name</label>
        <edit-field v-model="city.Clan.Name" :state="clan_state"></edit-field>
      </div>

      <div class="form-group" v-if="city.Clan && city.Clan.ID">
        <label>Clan: {{city.Clan.Name}}</label>
      </div>

      <div class="form-group">
        <h3>Please specify the name of the city</h3>
        <label>City name</label>
        <edit-field v-model="city.Name" :state="city_state"></edit-field>
      </div>
    </div>

    <template slot="footer">
      <button class="btn btn-default" @click="cancel">Отмена</button>
      <button class="btn btn-primary" :disabled="invalid" @click="ok">Ок</button>
    </template>
  </modal-item>
</template>

<style>
  a.tab-disabled {
    cursor: default;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 3px 3px 0 0;
    margin-right: .5em;
    transform: translateY(2px);
    transition: transform .3s ease;
    position: absolute;
    align-items: center;
    display: flex;
    padding: .75em 1em;
    text-decoration: none;
    width: 150px;
    font-weight: 600;
    left: 166px;
    top: 13px;
    color: gray;
  }
</style>
<script src="./CreateCityModal.js"></script>
