.game-title {
  display: flex;
  align-items: center;
  justify-content: center;
  .logo {
    width: 50px;
    margin-right: 10px;
    img {
      max-width: 100%;
    }
  }
}

.worlds-choose {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.worlds-server-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.worlds-flag-container {
  margin-left: 30px;
  cursor: pointer;
}

.worlds-flag {
  border-radius: 50%;
  border: 3px solid black;
}

.server-title {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
