@import "mixins";
//@import '../../node_modules/font-awesome/css/font-awesome.css';
//$fa-font-path: "../node_modules/font-awesome/fonts" !default;
//@import "~font-awesome/scss/font-awesome";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

h4 {
  margin: 5px 0;
}

.modal {
  display: block;
}

.modal-body {
  text-align: left;
}


.tabs-component {
  margin: 0;
}

.underline {
  text-decoration: underline;
}
.margin-none {
  margin: 0;
}
.padding-none {
  padding: 0;
}
.margin-bottom {
  margin-bottom: 10px;
}

button[disabled] {
  background: rgba(158, 158, 158, 0.4);
  color: #a5a5a5;
}



@media (min-width: 700px){
  .tabs-component-panels {
    padding: 1em;
  }
}

@media (min-width: 768px) {
  .modal .modal-dialog {
    width: 900px;
  }
}
