@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

@mixin flex-row-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

@mixin flex-row-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@mixin flex-column-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

@mixin list-non-styled {
  margin: 0;
  padding: 0;
  list-style: none;
}