<template>
  <div id="news">
    <div class="news-list">
      <div v-for="news in news_list" class="news-item">
        <span v-if="news.City && news.City.ID && (!news.Creator || !news.Creator.IsAdmin)" class="news-city">City: {{news.City.Name}}</span>
        <span v-if="news.Clan && news.Clan.ID && (!news.Creator || !news.Creator.IsAdmin)" class="news-clan">Clan: {{news.City.Name}}</span>
        <span v-if="news.ByAdmin" class="news-admin">{{'admin' | locale}}{{news.Creator ? ': ' + news.Creator.Name : ''}}</span>
        <hr>

        <pre>{{news.Text}}</pre>
        <hr>
        <small>{{news.CreatedAt | beautyDate}}</small>
      </div>
    </div>

    <div class="new-message-container">
      <!--TODO: implement contenteditable: https://github.com/vuejs/vue/issues/1936 -->
        <textarea
          v-model="new_news"
          :placeholder="'type_news' | locale"
          class="textarea new-message-text">
        </textarea>
      <button class="btn-success" @click="sendNews()">{{'send' | locale}}</button>
    </div>
  </div>
</template>

<script src="./News.js"></script>

<style scoped lang="scss">

</style>
