@import "elements/news";
@import "elements/chat";


#right_panel {
  height: 100%;
  text-align: left;
  border: 1px solid black;
}


.info {
  padding: 5px;
}


.worlds {
  display: flex;

  & > button {
    flex-grow: 1;
  }
}


.new-message-container {
  display: flex;
  width: 100%;
  margin-top: auto;
}


.new-message-text {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid $border-main-transparent;
  border-right: none !important;
  overflow-x: hidden;
  transition: border linear .2s;

  &:focus {
    border: 1px solid $border-main;
  }
}

.tab-info {
  transition: linear .2s;
  background-color: $greenTab;
  border-radius: 1px;

  &:not(.active):hover {
    background: $greenTabHovered;
  }
}

.tab-info.active {
  background-color: $green;
}


.tab-info-content {
  background-color: $greenBackground;
}
