<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
<div class="groups">
  <ul>
    <li>
      <div class="header">{{'default' | locale}}</div>
      <div class="body">
        <!--Content-->
      </div>
    </li>
  </ul>
</div>
</template>

<script src="./MarketTab.js"></script>
