<template>
  <div id="game-page" v-if="current_world">
    <ribbon></ribbon>

    <div class="sidenav-overlay" :class="{'opened': sideNavOpened}" @click="sideNavOpened = false"></div>

    <div class="mobile-button-container show-only-xs" :class="{'has-notification': has_notification}">
      <button class="vertical-button btn-default" @click="sideNavOpened = true"><span>game info</span></button>
    </div>

    <div class="row margin-none game-container">
      <div class="col-md-9 padding-none">
        <pixel-area></pixel-area>
      </div>
      <div class="col-md-3 padding-none sidenav" :class="{'opened': sideNavOpened}">
        <right-panel></right-panel>
      </div>
    </div>

  </div>
</template>

<script src="./GamePage.js">
</script>

<style lang="scss">
  #game-page {
    display: flex;
    flex-direction: column;
    & > .game-container {
      flex-grow: 1;
    }
  }
</style>
