<template>
    <div class="pixel-area">
        <div class="canvas-wrapper disable-selection">
            <!-- on canvas: (mouseleave)="onMouseUp($event)" -->

            <canvas ref="gameCanvas"
                    :class="{'move-cursor': currentTool == 'move', 'pointer-cursor': ['add_pixel', 'remove_pixel'].indexOf(currentTool) != -1}"
                    style="width: 900px; height: 500px"
                    tabindex="1"
            ></canvas>
        </div>
    </div>
</template>

<script src="./PixelArea.js">
</script>

<style scoped lang="scss">
  .move-cursor {
    cursor: move;
  }
  .pointer-cursor {
    cursor: pointer;
  }
  .pixel-area, .pixel-area > * {
    height: 100%;
  }
</style>
