.tabs-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs-bar {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;

  & > li {
    flex-grow: 1;
    padding: 5px;
    border-bottom: 1px solid black;
    cursor: pointer;
  }
  &:not(:first-child) {
    border-left: 1px solid black;
  }

  &.active {
    border-bottom: none;
  }
}

.tabs-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  & > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}
