<template xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div id="cities">
    <div class="cities-list">
      <div v-if="cities_loaded && !cities.length">{{'no_cities' | locale}}</div>

      <div v-for="city in cities"
           :class="{'city-item':true, 'active-city': active_city && active_city.ID == city.ID}"
            v-on:click="selectCity(city)">
        {{city.Name}}<br>
        {{city.OnlineUsersCount}}/{{city.UsersCount}}<br>
        {{city.PixelsCount}}<br>
        <a href v-on:click.stop.prevent="joinCity(city)" v-if="current_user && !current_user.CityID && !hide_create_or_join_city">{{'join' | locale}}</a>
      </div>
    </div>
  </div>
</template>

<script src="./Cities.js"></script>

<style scoped lang="scss">

  #cities {
    &, .cities-list {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .cities-list {
      overflow: auto;
    }
    .city-item {
      padding: 10px;
      margin: 10px;
      border: 1px solid grey;
      max-width: 100%;
      cursor: pointer;
      &:hover {
        background: grey;
      }
      &.active-city {
        background: blue;
      }
    }
  }
</style>
