<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
<div class="groups">

  <div class="sidenav-overlay" :class="{'opened': sideNavOpened}" @click="sideNavOpened = false"></div>

  <ul>
    <li>
      <div class="header">{{'main_tools' | locale}}</div>
      <div class="body">
        <div class="group">
          <button class="item button btn-default"
                  v-for="tool in mainTools"
                  @click="selectTool(tool.name)"
                  :class="{ active: isToolActive(tool.name) }">
            <span>{{tool.name | locale}}</span>
          </button>
        </div>
      </div>
    </li>
    <li class="sidenav" :class="{'opened': sideNavOpened}">
      <div class="header">{{'available_pixels' | locale}}</div>
      <div class="body">
        <div class="group pixels-group">
          <button class="pixel"
                  v-for="type in pixelTypes"
                  :style="{'background': type.Color}"
                  :title="type.Name"
                  @click="selectPixelType(type)"
                  :class="{ active: isPixelTypeActive(type) }">
          </button>
        </div>
        <div class="bar-container pixels-bar-container">
          <div class="pixels-bar" :style="{'width':((availablePixels.Value/availablePixels.MaxValue) * 100) + '%'}">
          </div>
          <div class="caption">
            {{availablePixels.Value}}/{{availablePixels.MaxValue}}
            <span v-if="availablePixels.MaxValue > availablePixels.Value">(next pixel will be {{untilAvailablePixel}})</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
</template>

<script src="./GameTab.js"></script>
