<template>
  <div class="world-settings">

    <table class="margin-top">
      <tr>
        <th>{{'name' | locale}}</th>
        <th>{{'value' | locale}}</th>
      </tr>
      <tr v-for="setting in world_settings">
        <td>{{setting.Name}}</td>
        <td>
          <edit-field v-model="setting.Value" :state="Setting_state" :readonly="!Setting_state.edit || setting.Name != Setting_state.field"></edit-field>

          <button v-if="can_edit" class="btn-icon" @click="toggleEdit(setting)"><i
            :class="{'fa': true, 'fa-pencil': !Setting_state.edit || setting.Name != Setting_state.field, 'fa-undo': Setting_state.edit && setting.Name == Setting_state.field}"></i></button>

          <button v-if="can_edit" class="btn-icon" @click="saveSetting(setting)"><i class="fa fa-floppy-o"></i></button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script src="./WorldSettings.js">
</script>
