<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <div id="ribbon">
    <div class="logo">
      <a href="/">
        <img src="../../images/logo.png">
        <span>CryptoPixel</span>
      </a>
    </div>
    <div class="ribbon-content">
      <nav class="tabs">
        <ul>
          <li v-for="tab in tabs" v-bind:class="{ active: isTabActive(tab) }">
            <a class="button" @click="selectTab(tab)"><span>{{ tab.name | locale }}</span></a>
          </li>
        </ul>
      </nav>
      <div class="content">
        <ul>
          <li v-if="isTabActive(tabs[0])">
            <game-tab></game-tab>
          </li>
          <li v-if="isTabActive(tabs[1])">
            <player-tab></player-tab>
          </li>
          <li v-if="isTabActive(tabs[2])">
            <city-tab></city-tab>
          </li>
          <li v-if="isTabActive(tabs[3])">
            <clan-tab></clan-tab>
          </li>
          <li v-if="isTabActive(tabs[4])">
            <world-tab></world-tab>
          </li>
          <li v-if="isTabActive(tabs[5])">
            <market-tab></market-tab>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script src="./Ribbon.js"></script>

<style lang="scss">
  @import "../../assets/mixins.scss";

  $border: 1px solid #ccc;
  $background: #eee;
  $background-active: #fff;

  .pixel {
    width: 20px;
    height: 20px;
    border: none;
    margin: 10px;
  }
  .pixel.active {
    border: 2px solid black;
  }

  * {
    box-sizing: border-box;
  }

  button.active {
    background: #9E9E9E;
  }

  #ribbon {
    @include flex-row-center;
    /*height: 112px;*/
    min-height: 112px;
    align-items: stretch;
    .logo {
      @include flex-column-center;
      padding: 0 10px;
      width: 112px;
      /*height: 112px;*/
      border-bottom: 1px solid #eee;
      border-right: 1px solid #eee;
      a {
        color: black;
        font-weight: 400;
        font-size: 13px;
        text-decoration: none;
        @include flex-column-center;
      }
      img {
        display: flex;
        align-self: center;
        width: 64px;
        height: 64px;
        margin-bottom: 7px;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }

    .tabs {
      display: flex;
      height: 24px;
      border-bottom: $border;
      ul {
        display: flex;
        li {
          display: flex;
          background: $background;

          a.button {
            @include flex-column-center;
            color: black;
            text-decoration: none;
            padding: 3px 15px;
            cursor: pointer;
            border-right: 1px solid #fff;
          }

          &.active {
            background: $background-active;
          }
        }
      }
    }

    .ribbon-content {
      width: calc(100% - 112px);
      height: 112px;
      display: flex;
      flex-direction: column-reverse;

      & > .content {
        flex-grow: 1;
        order: -1;
        display: flex;
        & > ul {
          flex-grow: 1;
          align-items: stretch;
          display: flex;
          & > li {
            flex-grow: 1;
          }
        }
      }
      ul {
        li {
          display: flex;

          &.hidden {
            display: none;
          }

          .groups {
            display: flex;
            width: 100%;
            ul {
              display: flex;
              width: 100%;
              flex-direction: row;
              li {
                display: flex;
                flex-direction: column-reverse;
                flex-grow: 1;

                &:not(:last-child) {
                  border-right: 1px solid #ccc;
                }

                .header {
                  @include flex-column-center;
                  height: 24px;
                  padding: 3px 5px;
                  background: #eee;
                }

                .body {
                  @include flex-column-top;
                  /*height: 64px;*/
                  padding: 3px 5px;
                  font-size: 14px;
                  flex-grow: 1;
                  .group {
                    display: flex;
                    height: 100%;
                    align-items: stretch;
                    flex-grow: 1;

                    &.pixels-group {
                       flex-wrap: wrap;
                        flex-grow: inherit;
                        display: block;
                    }

                    .item {
                      @include flex-column-center;
                      padding: 3px 5px;
                      margin: 0 3px;
                      //width: 64px;

                      &.button {
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
</style>
