<template>
  <div class="world-logs">

    <table class="margin-top">
      <tr>
        <th>{{'clan' | locale}}</th>
        <th>{{'city' | locale}}</th>
        <th>{{'user' | locale}}</th>
        <th>{{'action' | locale}}</th>
        <th>{{'coordinates' | locale}}</th>
        <th>{{'date' | locale}}</th>
      </tr>
      <tr v-for="log in world_logs">
        <td>{{log.Clan ? log.Clan.Name : "[None]"}}</td>
        <td>{{log.City ? log.City.Name : "[None]"}}</td>
        <td>{{log.User.Name}}</td>
        <td>{{log.ActionType}}</td>
        <td>{{log.X}},{{log.Y}}</td>
        <td>{{log.CreatedAt | beautyDate}}</td>
      </tr>
    </table>
  </div>
</template>

<script src="./WorldLogs.js">
</script>
