<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <modal-item>
    <template slot="header">
      <button class="close" @click="cancel">×</button>
      <h4>
        <div class="modal-title">{{'join_refer_city_title' | locale}}</div>
      </h4>
    </template>

    <div class="modal-body" slot="body">
      <div class="form-group">
        <h3>{{'do_you_join_refer_city' | locale}} ({{referral.Name}}) ?</h3>
        <div class="margin-top"><label>City: </label>{{referral.City.Name}}</div>
        <div class="margin-top"><label>Clan: </label>{{referral.Clan.Name}}</div>
      </div>
    </div>

    <template slot="footer">
      <button class="btn btn-default" @click="cancel">{{'no' | locale}}</button>
      <button class="btn btn-primary" @click="ok">{{'yes' | locale}}</button>
    </template>
  </modal-item>
</template>

<style>
</style>
<script src="./JoinReferModal.js"></script>
