<template>
  <div class="city-users">

    <table class="margin-top">
      <tr>
        <th>{{'user' | locale}}</th>
        <th></th>
      </tr>
      <tr v-for="user in city_users">
        <td>{{user.Name}}</td>
        <td>
          <a v-if="can_edit" href @click.prevent="pitchOut(user)">Pitch out</a>
        </td>
      </tr>
    </table>
  </div>
</template>

<script src="./CityUsers.js">
</script>
