<template>
    <div class="market-page">
      <ribbon></ribbon>

      <div class="padding margin-top">
        <div v-if="!current_user || !current_user.ID">
          <h1>{{'need_auth_market' | locale}}</h1>
        </div>

        <div v-if="current_user && current_user.ID">
          <h1>{{'soon_market' | locale}}</h1>
        </div>
      </div>
    </div>
</template>

<script src="./MarketPage.js">
</script>
