<template>
  <div>
    <div class="game-title">
      <div class="logo"><img src="../../images/logo.png"></div>
      <h1>{{'welcome' | locale}}</h1>
    </div>

    <div class="worlds-choose">

      <div class="worlds-title">
        <h1>{{'choose_world' | locale}}</h1>
      </div>
      <div class="worlds-server-list">
        <div class="worlds-flag-container" v-for="world in worlds">
          <div>
            <img class="worlds-flag" v-if="world.Language === 'ru'" src="../../images/russian_flag.png"
                 @click="setWorld(world)">
            <img class="worlds-flag" v-if="world.Language === 'en'" src="../../images/american_flag.png"
                 @click="setWorld(world)">
          </div>
          <div class="server-title">
            <span>{{world.Name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script src="./WorldsChoose.js">
</script>
