<template>
  <div class="world-page">
    <ribbon></ribbon>

    <div class="padding margin-top">
      <div class="form-group">
        <label>{{'name' | locale}}:</label>

        <edit-field v-model="world.Name" :state="Name_state" :readonly="!Name_state.edit"></edit-field>

        <button v-if="can_edit" class="btn-icon" @click="toggleEdit('Name')"><i
          :class="{'fa': true, 'fa-pencil': !Name_state.edit, 'fa-undo': Name_state.edit}"></i></button>

        <button v-if="can_edit" class="btn-icon" @click="saveField('Name')"><i class="fa fa-floppy-o"></i></button>
      </div>

      <div class="form-group">
        <label>{{'width' | locale}}:</label>

        <edit-field v-model="world.MaxX" :state="MaxX_state" :readonly="!MaxX_state.edit"></edit-field>

        <button v-if="can_edit" class="btn-icon" @click="toggleEdit('MaxX')"><i
          :class="{'fa': true, 'fa-pencil': !MaxX_state.edit, 'fa-undo': MaxX_state.edit}"></i></button>

        <button v-if="can_edit" class="btn-icon" @click="saveField('MaxX')"><i class="fa fa-floppy-o"></i></button>
      </div>

      <div class="form-group">
        <label>{{'height' | locale}}:</label>

        <edit-field v-model="world.MaxY" :state="MaxY_state" :readonly="!MaxY_state.edit"></edit-field>

        <button v-if="can_edit" class="btn-icon" @click="toggleEdit('MaxY')"><i
          :class="{'fa': true, 'fa-pencil': !MaxY_state.edit, 'fa-undo': MaxY_state.edit}"></i></button>

        <button v-if="can_edit" class="btn-icon" @click="saveField('MaxY')"><i class="fa fa-floppy-o"></i></button>
      </div>

      <div class="form-group">
        <label>{{'pixels_on_area' | locale}}:</label>
        {{world.PixelsCount}}
      </div>

      <div class="form-group">
        <label>{{'pixels_manual' | locale}}:</label>
        {{world.ManualPixelsCount}}
      </div>

      <div class="margin-top">
        <a href @click.prevent="exitWorld()">{{'exit_world' | locale}}</a>
      </div>

      <div class="form-group margin-top">

        <tabs>
          <tab :title="'logs' | locale" active="true" state="world-logs">
            <router-view></router-view>
          </tab>
          <tab :title="'settings' | locale" state="world-settings">
            <router-view></router-view>
          </tab>
        </tabs>
      </div>
    </div>
  </div>
</template>

<script src="./WorldPage.js">
</script>
