#chat {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  & > * {
    flex-grow: 1
  }
  .tabs-bar > li:not(:first-child) {
    border-left: 1px solid grey;
  }
  .tabs-bar > li.active {
    background: pink;
  }
}

.messages-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.message-item {
  width: 80%;
  padding: 5px;
  margin-top: 10px;
  background: #ddd;
  border-radius: 5px;
}

.message-author {
  font-size: 10px;
  font-weight: 700;
}

.tab-chat {
  transition: linear .2s;
  background-color: $orangeTab;
  border-radius: 1px;

  &:not(.active):hover {
    background: $orangeTabHovered
  }
}

.tab-chat.active {
  background-color: $orange;
}

.tab-chat-content {
  background-color: $orangeBackground;
}
