#news {
  &, .news-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.news-list {
  overflow: auto;
}

.news-item {
  padding: 10px;
  margin: 10px;
  border: 1px solid grey;
  max-width: 100%;

  & pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }
}

.tab-news {
  transition: linear .2s;
  background-color: $blueTab;
  border-radius: 1px;

  &:not(.active):hover {
    background: $blueTabHovered;
  }
}

.tab-news.active {
  background-color: $blue;
}

.tab-news-content {
  background-color: $blueBackground;
}
