<template>
    <div class="clan-page">
      <ribbon></ribbon>

      <div class="padding">
        <div v-if="!current_user || !current_user.ClanID">
          <h1>{{'join_or_create_clan' | locale}}</h1>
        </div>

        <div class="margin-top" v-if="current_user && current_user.ClanID">
          <div class="form-group">
            <label>{{'name' | locale}}:</label>

            <edit-field v-model="clan.Name" :state="Name_state" :readonly="!Name_state.edit"></edit-field>

            <button v-if="can_edit" class="btn-icon" @click="toggleEdit('Name')"><i
              :class="{'fa': true, 'fa-pencil': !Name_state.edit, 'fa-undo': Name_state.edit}"></i></button>

            <button v-if="can_edit" class="btn-icon" @click="saveField('Name')"><i class="fa fa-floppy-o"></i></button>
          </div>

          <div class="form-group">
            <label>{{'pixels_on_area' | locale}}:</label>
            {{clan.PixelsCount}}
          </div>

          <div class="form-group">
            <label>{{'pixels_manual' | locale}}:</label>
            {{clan.ManualPixelsCount}}
          </div>

          <div class="form-group margin-top">
            <label>{{'logs' | locale}}:</label>

            <table class="margin-top">
              <tr>
                <th>{{'city' | locale}}</th>
                <th>{{'user' | locale}}</th>
                <th>{{'action' | locale}}</th>
                <th>{{'coordinates' | locale}}</th>
                <th>{{'date' | locale}}</th>
              </tr>
              <tr v-for="log in clan_logs">
                <td>{{log.City.Name}}</td>
                <td>{{log.User.Name}}</td>
                <td>{{log.ActionType}}</td>
                <td>{{log.X}},{{log.Y}}</td>
                <td>{{log.CreatedAt | beautyDate}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
</template>

<script src="./ClanPage.js">
</script>
