<template>
    <div>
      <ribbon></ribbon>

      <div class="padding">
        <div v-if="!current_user || !current_user.ID">
          <h1>{{'need_auth' | locale}}</h1>
        </div>

        <div class="margin-top" v-if="user && user.ID">
          <div class="form-group">
            <label>{{'name' | locale}}:</label>

            <edit-field v-model="user.Name" :state="Name_state" :readonly="!Name_state.edit"></edit-field>

            <button class="btn-icon" @click="toggleEdit('Name')"><i :class="{'fa': true, 'fa-pencil': !Name_state.edit, 'fa-undo': Name_state.edit}"></i></button>

            <button class="btn-icon" @click="saveField('Name')"><i class="fa fa-floppy-o"></i></button>
          </div>

          <div class="form-group">
            <label>{{'email' | locale}}:</label>

            <edit-field v-model="user.Email" :state="Email_state" :readonly="!Email_state.edit"></edit-field>

            <button class="btn-icon" @click="toggleEdit('Email')"><i :class="{'fa': true, 'fa-pencil': !Email_state.edit, 'fa-undo': Email_state.edit}"></i></button>

            <button class="btn-icon" @click="saveField('Email')"><i class="fa fa-floppy-o"></i></button>
          </div>

          <div class="form-group">
            <label>{{'level' | locale}}:</label>
              {{user.level_progress.Value}}
          </div>

          <div class="form-group">
            <label>{{'pixels_on_area' | locale}}:</label>
            {{user.PixelsCount}}
          </div>

          <div class="form-group">
            <label>{{'pixels_manual' | locale}}:</label>
            {{user.ManualPixelsCount}}
          </div>

          <div class="form-group margin-top">
            <label>{{'logs' | locale}}:</label>

            <table class="margin-top">
              <tr>
                <th>{{'action' | locale}}</th>
                <th>{{'coordinates' | locale}}</th>
                <th>{{'date' | locale}}</th>
              </tr>
              <tr v-for="log in user_logs">
                <td>{{log.ActionType}}</td>
                <td>{{log.X}},{{log.Y}}</td>
                <td>{{log.CreatedAt | beautyDate}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
</template>

<script src="./PlayerPage.js">
</script>
