$border-main: rgba(142, 145, 148, 1);
$border-main-transparent: rgba(142, 145, 148, .3);


// colors

$redPurple: rgba(134, 13, 116, 1);
$redPurpleBackground: rgba(134, 13, 116, .1);

$orange: rgba(244, 134, 37, .8);
$orangeTab: rgba(244, 134, 37, .3);
$orangeTabHovered: rgba(244, 134, 37, .5);
$orangeBackground: rgba(244, 134, 37, .1);

$green: rgba(117, 193, 71, .8);
$greenTab: rgba(117, 193, 71, .3);
$greenTabHovered: rgba(117, 193, 71, .5);
$greenBackground: rgba(117, 193, 71, .1);

$blue: rgba(33, 68, 162, .8);
$blueTab: rgba(33, 68, 162, .3);
$blueTabHovered: rgba(33, 68, 162, .5);
$blueBackground: rgba(33, 68, 162, .1);

