.form-control {
  border-radius: 5px;
  padding: 5px;

  &.invalid {
    border: 1px solid red;
  }
}

button.close {
  background: none;
  border: none;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

button, input {
  &:focus {outline:0;}
}
.btn-icon {
  background: none;
  border: none;
  cursor: pointer;
}


.pixels-bar-container {
  border: 1px solid green;

  .pixels-bar {
    background: green;
  }
}

.bar-container {
  border: 1px solid grey;
  height: 20px;
  width: 100%;
  border-radius: 10px;
  position: relative;
  .pixels-bar {
    background: grey;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
  }
  .caption {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: black;
    text-align: center;
  }
}

[class*="btn-"] {
  border-radius: 2px;
  border: none;
  outline: none;
}
.btn-default {
  background: #E0E0E0;
}
.btn-success {
  background: #5cb85c;
}
.btn-warning {
  background: #FFC107;
}
.btn-danger {
  background: #F44336;
}
