@font-face {
  font-family: 'UA Squared';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/ua-squared/UASQUARE.ttf) format('ttf'), url(../fonts/ua-squared/UASQUARE.woff) format('woff');
}

@font-face {
  font-family: 'Orange Kid';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/orange-kid/orange-kid.ttf) format('ttf'), url(../fonts/orange-kid/orange-kid.woff) format('woff');
}

@font-face {
  font-family: 'Joystix';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/joystix/joystix-monospace.ttf) format('ttf'), url(../fonts/joystix/joystix-monospace.woff) format('woff');
}

@font-face {
  font-family: 'Homespun';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/homespun-tt-brk/homespun.ttf) format('ttf'), url(../fonts/homespun-tt-brk/homespun.woff) format('woff');
}

@font-face {
  font-family: 'Coders Crux';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/coders-crux/coders_crux.ttf) format('ttf'), url(../fonts/coders-crux/coders_crux.woff) format('woff');
}

@font-face {
  font-family: 'Determination1';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/determination1/Determination1.ttf) format('ttf'), url(../fonts/determination1/Determination1.woff) format('woff');
}

* {
  //font-family: 'Homespun', sans-serif
  font-family: 'Determination1', sans-serif;
  font-size: 11pt;
}
