@import "fix-flexbox";
@import "~flexboxgrid";
@import "~font-awesome/scss/font-awesome";
@import "fonts";
@import "controls";

@import '_vars';

@import 'right-panel/main';
@import "tabs/tabs";
@import "words-choose/main";
@import "common-elements/main";

body {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: hidden !important;
}

#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#game-page {
  flex-grow: 1;
}

.loader {
  width: 25px;
  vertical-align: middle;
}

span.error {
  color: red;
}

.player-page {
  padding: 15px;
}

.margin-top {
  margin-top: 15px;
}

.padding {
  padding: 15px;
}

$notification_color: orange;

.has-notification {
  position: relative;
  &:after {
    content: " ";
    border-radius: 100%;
    background: $notification_color;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -5px;
    top: 0;
  }
}
.tabs-bar {
  .has-notification:after {
    right: 2px;
    left: auto;
  }
}

.notification-target {
  border: 1px solid $notification_color;
  border-radius: 2px;
}

table th {
  text-align: left;
}

table th, td {
  padding: 5px;
}


.world-page .tabs-bar > li {
  border-top: 1px solid black;
  &:not(:last-child){
    border-right: 1px solid black;
  }
  &.active {
    border-bottom: none;
  }
}

.info-block {
  background: #BBDEFB;
  border-radius: 5px;
  padding: 5px;
  font-size: 10pt;
}

@import 'adaptive';
